.ant-typography {
	text-align: center;
	margin-top: 10%;
}
.login-form {
	margin-inline: auto;
	max-width: 300px;
	.ant-col-rtl .login-form-forgot {
		float: left;
	}
	.login-form-forgot {
		float: right;
	}
	.login-form-button {
		width: 100%;
	}
}



